<div class="container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <a href="#" class="btn" role="button">
        <div>
          <img src="assets/icons/house-door-fill.svg">
        </div>
        <span class="text-light">Início</span>
      </a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="#" class="btn" role="button">
        <div>
          <span matBadge="15" matBadgeColor="warn" matBadgeSize="small">
            <img src="assets/icons/collection-play.svg">
          </span>
        </div>
        <span>Em breve</span>
      </a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="#" class="btn" role="button">
        <div>
          <img src="assets/icons/arrow-down-circle.svg">
        </div>
        <span>Downloads</span>
      </a>
    </div>
  </div>
</div>
